---
export const prerender = false;

import { getPost } from '../../lib/hygraph';
import BaseLayout from '../../layouts/BaseLayout.astro';

const { slug } = Astro.params;
const post = await getPost(slug ?? '');

if (!post) return Astro.redirect('/blog');
---

<BaseLayout pageTitle={post.title}>
	<h1>{post.title}</h1>
	{post.publishDate && (
		<p>{new Date(post.publishDate).toLocaleDateString()}</p>
	)}
	{post.coverPhoto && (
		<img src={post.coverPhoto.url} alt={post.title} width="800" />
	)}
	<div set:html={post.content.html} />
</BaseLayout>
